h1 {
  color: #A6A4AE; /* For conestency between timeline!! */
  font-size: 2em;
}

h2 {
  color: #A6A4AE;
  font-size: 1.55em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

p {
  margin-inline: 0.1em;
}

hr {
  width: 95%;
  border: 0.12em solid #282438;
  margin: 1.5em auto;
  border-radius: 0.1em;
}
