h1 {
  color: #A6A4AE; /* For conestency between timeline!! */
  font-size: 2em;
}

p {
  margin-inline: 0.1em;
}

hr {
  width: 95%;
  border: 0.12em solid #282438;
  margin: 1.5em auto;
  border-radius: 0.1em;
}
